.Body{
    display: flex;
    height: 100vh;

}
.Body .list{
    width: 30%;
    background-color: #121212;
    color: aliceblue;
    padding: 20px;
}
.Body .listBody{
    background-color: #1c1b1b;
    width: 100%;
    padding: 30px;
    color: aliceblue;
    overflow: scroll;
}
.Body .list ul {
    list-style-type: none; /* Liste başındaki noktaları kaldırır */
    padding: 0;
}

.Body .list ul li {
    padding: 5px 10px;
    text-align: start;
    cursor: pointer;
}
.Body .list ul li:hover {
    background: #1c1b1b;
}
 .Body .listBody img{
    width: 100%;
    border-radius: 10px;
    margin: 20px;
 }
 .Body .listBody h2{
    color: burlywood;
 }

