.Body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-color: #121212;
}

/* Sol taraf - Liste */
.Body .list {
    width: 35%;
    background-color: #121212;
    color: aliceblue;
    padding: 20px;
    overflow-y: scroll;
}

.Body .list::-webkit-scrollbar {
    display: none;
}

.Body .listBody {
    background-color: #1c1b1b;
    width: 100%;
    padding: 30px;
    color: aliceblue;
    overflow-y: scroll;
}

.Body .listBody::-webkit-scrollbar {
    display: none;
}

.Body .list ul {
    list-style-type: none;
    padding: 0;
}

.Body .list ul li {
    padding: 2px 10px;
    text-align: start;
    cursor: pointer;
}

.Body .list ul li ul li:hover {
    background-color: #1c1b1b;
}


/* A C C O R D I O N  */
.accordion-section {
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-title:hover {
    background-color: #444;
}

.accordion-content li:hover {
    text-decoration: underline;
}

/* Mobile'de accordion içindeki content alanı */
.mobile-content {
    padding: 10px;
    margin-top: 10px;
    background-color: #2a2a2a;
    border-radius: 5px;
    color: aliceblue;
}

/* M O B I L E  G O R U N U M */
@media (max-width: 750px) {
    .Body {
        flex-direction: column;
        height: 100vh;
        background-color: #121212;
    }

    .Body .list {
        width: 100%;
        padding: 20px;
    }

    .Body .list ul li ul li {
        border: 1px solid rgb(63, 63, 63);
        margin-top: 3px;
        overflow-x: hidden;
    }

    .Body .listBody {
        display: none; /* Mobilde sağdaki alan gösterilmeyecek */
    }
    .accordion-content li:hover {
        text-decoration: none;
    }
}
