.home {
    background-color: #121212;
   /* height: 100%;*/
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}
.home .navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
.home .navbar {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.home .navbar div {
    display: flex;
    gap: 20px;
}
.navbar span:hover{
    color: burlywood;
}
.navbar div span {
    cursor: pointer;
  }

.home .navbar .logo {
    height: 20px;
    width: 60px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
}
.home .body{
    display: flex;
    color: #FFFFFF;
    height: 90vh;
}
.home .body .text{
    padding-left: 50px;
    width: 60%;
    align-items: center;
    padding-top: 10%; 
    justify-content: center;
}
.home .body .imgCart img{
    height: 100%;
}
.home .body  span{
    color: burlywood;
}
.home .navbar svg{
    display: none;
}
.home .navbar .navMenu{
    display: none ;
    position: fixed;
    background-color: #303030;
    top: 10px;
    left: 10px;
    width: 70%;
}
.home .navbar .spanMenu{
    display: none;
}

@media (max-width: 750px) {
    .home .navbar div{
        display:none;
    }
    .home .navbar svg{
        display: block;
    }
    .home .body .imgCart{
        display: none;
    }
    .home .body .text{
        width: 100%;
    }
    .home .navbar .spanMenu{
        display: block;
    }
    .home .body{
        display: flex;
        color: #FFFFFF;
        height: 90vh;
        align-items: center;
    }
}
